/*Globals*/

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/*
.roboto-mono-<uniquifier> {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.playfair-display-<uniquifier> {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.fredoka-<uniquifier> {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
*/

:root {
  --primary-color: #FDF8ED;
  --green: #304529;
}

* {
  margin: 0;
  padding: 0;
    /* background-color: var(--primary-color); */
}

body {
  font-family: "Playfair Display", serif;
  background-color: var(--primary-color);
  /* margin: 1vh; */
  margin: 5vh 1vh;
  /* padding-top: 5vh;
  margin-left: 5vh; */

}

.rob-mono {
  font-family: "Roboto Mono", monospace;
}

.button-1 {
  background-color: var(--green);
  color: #fff;
  width: 25vh;
  height: 8vh;
  border: .25vh solid #000;
  border-radius: 10px;
  font-size: 2.5vh;
  padding: 1vh;
  cursor: pointer;
}

/***NAV***/

.hero-main {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  /* margin-left: 10vh; */
}

.hero-main div {
  width: 33%;
  align-content: center;
}

.hero-1 {
  background-color: #DE8B61;
  border: .25vh solid #000;
  border-radius: 5px;
  padding-left: 1vh;
  max-width: 30vh;
}


ul {
  padding-top: 5vh;
  border: .25vh solid #000;
  border-radius: 5px;
  list-style-type: none;
  background-color: #fff;
  text-align: center;
  transform: translate(2px, -10px)

}

.nav-links li {
  height: 10vh;
}

a {
  color: #000;
  text-decoration: none;
  font-family: "Roboto Mono", monospace;
  font-size: 1.5vw;
}

.nav-links a:hover {
  text-decoration: underline;
}

.hero-2 {
  text-align: center;
  margin-left: 15vh;
  margin-top: 10vh;
  /* height: auto; */
}

.hero-2 span {
  margin-top: 0vh;
}

.hero-text-1 {
  font-size: 4vw;
  margin-bottom: 3vh;
  /* padding-bottom: 10vh; */
}
.hero-text-2 {
  font-size: 3vw;
}
.hero-text-3 {
  font-size: 2.5vw;
  
}

.hero-button {
  margin-top: 3vh;
}

.hero-3 img {
  display: flex;
  justify-self: center;
}

.hero-img {
  width: 75%;
  border: .25vh solid var(--green);
  border-radius: 50%;
}


.quote {
  height: 30vh;
  width: 90%;
  padding-top: 30vh;
  display: flex;
  justify-self: center;
}

.quote p {
  border: .25vh solid rgb(48 69 41 / 40%);
  border-radius: 10px;
  height: 15vh;
  font-size: 2vw;
  text-align: center;
  padding-top: 3vh;
}