/*Globals*/

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/*
.roboto-mono-<uniquifier> {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.playfair-display-<uniquifier> {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.fredoka-<uniquifier> {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
*/

:root {
  --primary-color: #FDF8ED;
  --secondary-one-green: #304529;
  --secondary-two-orange: #DE8B61;
}

* {
  margin: 0;
  padding: 0;
    /* background-color: var(--primary-color); */
}

body {
  font-family: "Playfair Display", serif;
  background-color: var(--primary-color);
  /* margin: 1vh; */
  padding: 5vh 1vh;
  /* padding-top: 5vh;
  margin-left: 5vh; */

}

.rob-mono {
  font-family: "Roboto Mono", monospace;
}

.button-1 {
  background-color: var(--secondary-one-green);
  color: #fff;
  width: 25vh;
  height: 8vh;
  border: .25vh solid #000;
  border-radius: 10px;
  font-size: 2.5vh;
  padding: 1vh;
  cursor: pointer;
}

/***Hero***/

.hero-main {
  /* width: 100%; */
  display: flex;
  align-content: center;
  justify-content: center;
}

.hero-main div {
  width: 33%;
  align-content: center;
}

.hero-1 {
  background-color: #DE8B61;
  border: .25vh solid #000;
  border-radius: 5px;
  /* padding-left: 1vh; */
  max-width: 30vh;
}


ul {
  padding-top: 5vh;
  border: .25vh solid #000;
  border-radius: 5px;
  list-style-type: none;
  background-color: #fff;
  text-align: center;
  transform: translate(2px, -10px)

}

.nav-links li {
  height: 10vh;
}

a {
  color: #000;
  text-decoration: none;
  font-family: "Roboto Mono", monospace;
  font-size: 1.5vw;
}

.nav-links a:hover {
  text-decoration: underline;
}


/***Mobile menu***/

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 5vw;
  height: 2px;
  background-color: #000;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  /* position: absolute;
  top: 100%;
  right: 0; */
  background-color: #fff;
  width: fit-content;
  max-height: 0; 
  overflow: hidden;
  transition: all 0.3 ease-in-out; 
}

.menu-links li {
  width: 30vw;
   list-style-type: none;
   background-color: #fff;
   padding: 1vh;
}

.menu-links a {
  font-size: 3vw;
  text-align: center;
}

.menu-links.open {
  max-height: 30vw;
  width: 30vw;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}
.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}
.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}
.hamburger-icon span:first-child {
  opacity: 1;
}
.hamburger-icon span:first-child {
  transform: none;
}


.hero-2 {
  text-align: center;
  margin-left: 15vh;
  margin-top: 10vh;
}

.hero-2 span {
  margin-top: 0vh;
}

.hero-text-1 {
  font-size: 4vw;
  margin-bottom: 3vh;
}
.hero-text-2 {
  font-size: 3vw;
}
.hero-text-3 {
  font-size: 2.5vw;
  
}

.hero-button {
  margin-top: 3vh;
}

.hero-3 img {
  display: flex;
  justify-self: center;
}

.hero-img {
  width: 75%;
  border: .25vh solid var(--secondary-one-green);
  border-radius: 50%;
}


.quote {
  height: 30vh;
  /* width: 90%; */
  padding-top: 20vh;
  padding-left: 30vw;
  display: flex;
  /* justify-self: center; */
  /* align-self: center; */
}

.quote p {
  border: .25vh solid rgb(48 69 41 / 40%);
  border-radius: 10px;
  height: 8vh;
  font-size: 2vw;
  text-align: center;
  padding: 2vw;
  /* display: flex;
  align-self: center; */
}


/***Cards***/

.comp-img {
  width: 20vw;
}

.services {
  display: flex;
  justify-content: center;
  margin-right: 20vw;
}

.services h2 {
  color: var(--secondary-one-green);
  font-size: 4vw;
  font-family: "Fredoka", sans-serif;
  font-weight: 400;
  /* position: absolute; */
  margin: 5vh 0vh;
}

.cards-main {
  display: flex;
  justify-content: space-around;
}

.card-backgr {
  /* background-color: #000;
  border: .25vh solid #000;
  border-radius: 15px;
  height: 40vh;
  position: relative; */
  /* transform: translate(10px, -30px) */
}

.card {
  background-color: #fff;
  border-radius: 15px;
  margin-top: 5vh;
  border: .25vh solid var(--secondary-one-green);
}
.card-img {
  /* margin-top: 5vh; */
  height: 35vh;
  width: 22vw;
  /* max-width: 20vw; */
  border-radius: 15px 15px 0 0;
  background-color: #DEE0E9;
  border-bottom: .25vh solid var(--secondary-one-green);
}

.card-text {
  height: 10vh;
  /* background-color: #fff; */
}

.card-text p {
  font-size: 1.5vw;
  text-align: center;
  margin-top: 4vh;
}

